* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shippori Mincho B1", serif;
}

.black-text {
  color: black;
}
/* Navbar Section */

#headerComponent .App-logo {
  width: 150px;
  max-height: fit-content;
}
/* Home Section */

.Homeimg {
  width: 80%;
}
/* Hero Section */

#hero-title {
  font-family: "Tangerine", cursive;
  font-size: 130px;
}
/* First Page */
.FirstTitle {
  font-family: "Shippori Mincho B1", serif;
}

.Firstpara {
  font-size: 20px;
}
.descimg {
  width: 200px;
}
/* About Section */

#banniere {
  width: 100%;
}

.green-text {
  color: #50b614;
  font-family: "Redressed", cursive;
  font-size: 50px;
}

.green-text1 {
  color: #50b614;
}
.green-text2 {
  color: #50b614;
  font-family: "Shippori Mincho B1", serif;
}
.white-text {
  color: white;
}

.TopContainer {
}
.title {
  font-family: "Shippori Mincho B1", serif;
}

p {
  font-family: "Karla", sans-serif;
}

.about-img {
  width: 80%;
  border-radius: 10%;
}
.about-img2 {
  width: 90%;
  border-radius: 10%;
  margin-top: 30px;
}
/* Contact Section */

#contact-section .view {
  background-image: url("./Assets/bg1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  height: auto;
  margin-top: -40px;
  margin-bottom: -90px;
}

#contact-section #contact-card {
  margin-top: 50px;
}
#contact-section .gradient {
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(72, 15, 144, 0.4) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)
  );
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(72, 15, 144, 0.4) 100%
  );
}

#contact-section .card {
  background-color: rgba(126, 123, 215, 0.2);
}

#contact-section h6 {
  line-height: 1.7;
}

#contact-section .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#contact-section .top-nav-collapse {
  background: #424f95 !important;
}

@media (max-width: 768px) {
  #contact-section .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

#contact-section label {
  color: #fff !important;
}

#contact-section .icon {
  color: black !important;
}

/*Commande section*/
#Commande .App-logo {
  width: 200px;
}

/*Table Section */

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: gray;
  color: white;
}

#Fiches img {
  width: 130px;
}

#imgCarousel {
  width: 300px;
}

/* Product style */

.product-name {
  font-family: "Shippori Mincho B1", serif;
}

#img1 {
  width: 100px;
}

.Footer {
  background-color: #2c3e50;
  color: white;
}

.App-logo {
  width: 150px;
  max-height: fit-content;
}

.Footer h6:hover {
  color: #50b614;
  cursor: pointer;
}
